.estilos {
    background: #8ab8c3;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
}

@media screen and (min-width: 0) {
    .estilos
 {
        padding: 5rem 0 0 1rem;
    }

}

@media screen and (min-width: 768px) {
    .estilos
 {
        padding: 5rem 0 0 2.5rem;

    }

}

@media screen and (min-width: 992px) {
    .estilos
 {
        padding: 5rem 0 0 5rem;
    }

}