.rodape {
    display: flex;
    background: #e9e9e6;
    color: #000000;
    font-weight: bold;
   justify-content: space-between;
   align-items: baseline;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
    padding: 1rem 2rem;
}

.rodape .contato:hover {
    color: #2f5a8d;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}