.sobre{
    background-color: #e9e9e6;
    text-align: center;
}

@media screen and (min-width: 0){
    .sobre {
        padding: 2.5rem 1rem;
    }
    
}

@media screen and (min-width: 768px){
    .sobre {
        padding: 2.5rem;
    }
    
}